@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    background:#1E1E1E;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
}

.container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.joke-card{
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    min-height: 80px;
}

.btn{
    background-color: #9B0F4E;
    color: #fff;
    padding: 15px 40px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    margin-top: 20px;
}

.btn:hover{
    cursor: pointer;
    background: #790b3c;
}

.title{
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
}

.description{
    margin-bottom: 50px;
    font-size: 18px;
}

/* Menu styles */
.menu{
    list-style: none;
    background: #fff;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    padding: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border-right: 1px solid #333;
}
.menu-item{
    color: #333;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 40px;
    width: 100%;
}

.menu li:last-child{
    border-right: 0;
}

.menu li:hover{
    color: #9B0F4E;
}
.menu-item:hover{
    color: #9B0F4E;
}


@media screen and (max-width:577px) {
    .container {
            width: 100%;
        }
    
        .joke-card {
            padding: 15px;
            margin: 0 15px;
        }
    
        .btn {
            padding: 15px 50px;
        }
    
        .btn:hover {
            cursor: pointer;
            background: #790b3c;
        }
                .title {
                    font-size: 30px;
                    font-weight: 500;
                }
.menu-item {
    padding: 10px 20px;
}
}